# Exercices de POO

## Le compte bancaire

In [44]:
class CompteBancaire:
        
    def __init__(self, nom="Dupont", solde=1000):
        self.nom = nom
        self.solde = solde
    
    def depot(self, soldeDepot):
        self.solde += soldeDepot
        print(self.solde)
    
    def retrait(self, soldeRetrait):
        self.solde -= soldeRetrait
        print(self.solde)
    
    def affiche(self):
        print("Le solde du compte bancaire de "+ self.nom + " est de " + str(self.solde) + " euros.")

In [45]:
compte1 = CompteBancaire("Duchmol",800)

In [46]:
compte1.depot(350)

1150

In [47]:
compte1.retrait(200)

950

In [48]:
compte1.affiche()

Le solde du compte bancaire de Duchmol est de 950 euros.

In [49]:
compte2 = CompteBancaire()

In [50]:
compte2.depot(25)

1025

In [51]:
compte2.affiche()

Le solde du compte bancaire de Dupont est de 1025 euros.

## La surcharge d'opérateur

In [78]:
class Point:
    
    def __init__(self, x, y, z=0):
        self.x = x
        self.y = y
        self.z = z
    
    def ToString(self):
        if(self.z==0):
            return "P( {:.2f}, {:.2f})".format(self.x,self.y)
        else:
            return "P( {:.2f}, {:.2f}, {:.2f})".format(self.x,self.y,self.z)

In [73]:
point = Point(2,3)

In [74]:
point.ToString()

'P( 2.00, 3.00)'

In [75]:
point1 = Point(2,3,4)

In [76]:
point1.ToString()

'P( 2.00, 3.00, 4.00)'

### correction

In [ ]:
class Point:
    
    def __init__(self, x, y, z = None):
        self.x = x
        self.y = y
        self.z = z 
    
    def ToString(self):
        if(self.z==None):
            return "P( {:.2f}, {:.2f})".format(self.x,self.y)
        else:
            return "P( {:.2f}, {:.2f}, {:.2f})".format(self.x,self.y,self.z)

## L'héritage simple

In [173]:
class DateNaissance:
    
    def __init__(self,day,month,year):
        self.day = day
        self.month = month
        self.year = year
    
    def ToString(self):
        return "{:0>2d}/{:0>2d}/{}".format(self.day,self.month,self.year)

In [174]:
class Personne(DateNaissance):
    
    def __init__(self,nom,prenom,dateOfbirth):
        self.nom = nom
        self.prenom = prenom
        self.DateNaissance = dateOfbirth
    
    def __repr__(self):
        return " Nom: {} \n Prénom: {} \n Date de naissance: {}".format(self.nom,self.prenom,self.DateNaissance.ToString())

In [175]:
class Employe(Personne):
    
    def __init__(self,personne,salaire):
        self.Personne = personne
        self.salaire = salaire
    
    def __repr__(self):
        return "{} \n Salaire: {:.2f}".format(self.Personne,self.salaire)

In [180]:
class Chef(Employe):
    
    def __init__(self,employe,service):
        self.Employe = employe
        self.service = service
    
    def __repr__(self):
        return "{} \n Service: {}".format(self.Employe,self.service)

In [181]:
Personne("Ilyass","Math",DateNaissance(1,7,1982))

 Nom: Ilyass
 Prénom: Math
 Date de naissance: 01/07/1982

In [182]:
Employe(Personne("Ilyass","Math",DateNaissance(1,7,1982)),7865.55)

 Nom: Ilyass
 Prénom: Math
 Date de naissance: 01/07/1982
 Salaire: 7865.55

In [183]:
Chef(Employe(Personne("Ilyass","Math",DateNaissance(1,7,1982)),7865.55),"Ressource humaine")

 Nom: Ilyass
 Prénom: Math
 Date de naissance: 01/07/1982
 Salaire: 7865.55
 Service: Ressource humaine